{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}





<div class="container mt-3">
    <br>
    <h2 class="text-centre">About US</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-centre">At My daily mart, our story begins with a passion for quality, sustainability, and community. We believe that milk products should be more than just a grocery item; they should represent the essence of health, well-being, and ethical consumption.</p>
    </div>
</div>

<div class="container mt-3">
   
            <br>
            <h2 class="text-centre">Mission</h2>
            <br>
            <div class="row container">
                <p class="fs-4 text-centre">At My daily mart, our story begins with a passion for quality, sustainability, and community. We believe that milk products should be more than just a grocery item; they should represent the essence of health, well-being, and ethical consumption.</p>
            </div>
        </div></p>
    </div>
</div>



{% endblock main-content%}